<nz-tabset>
  <nz-tab >
    <ng-template #nzTabHeading>
      {{title}}
    </ng-template>
    <!--<div style="margin-bottom: 20px;">
      <nz-input  [nzPlaceHolder]="'姓名、邮箱'"  [(ngModel)]="keyword" [nzSize]="'large'" style = "width: 20%;"></nz-input>
      <button nz-button [nzType]="'primary'" nzGhost [nzSize]="'large'" (click)="search()">
        <i class="anticon anticon-search"></i><span>搜索</span>
      </button>
    </div>-->
    <nz-table #nzTable   [nzAjaxData]="page.data"
              [nzPageSize]="page.per_page"
              [nzTotal]="page.total"
              [nzPageIndex]="page.current_page"
              (nzPageIndexChangeClick)="changePageNo($event)"
              [nzLoading]="isLoading"
              [nzShowTotal]="true">
      <thead nz-thead>
      <tr>
        <th nz-th><span>序号</span></th>
        <th nz-th><span>类型</span></th>
        <th nz-th><span>商品名称</span></th>
        <th nz-th><span>试用数量</span></th>
        <th nz-th><span>商品价格</span></th>
        <th nz-th><span>奖励金币</span></th>
        <th nz-th><span>消费金币</span></th>
        <th nz-th><span>余额</span></th>
        <th nz-th><span>操作时间</span></th>
        <th nz-th><span>流水号</span></th>
      </tr>
      </thead>
      <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data;let i = index;">
        <td nz-td>{{i+1}}</td>
        <td nz-td>{{data.type|dicsNamePipe:goldType:"key":"value"}}</td>
        <td nz-td>{{data.title}}</td>
        <td nz-td>{{data.number_of}}</td>
        <td nz-td>{{data.price}}</td>
        <td nz-td>{{data.to_golds}}</td>
        <td nz-td>{{data.golds}}</td>
        <td nz-td>{{data.result_golds}}</td>
        <td nz-td>{{data.created_at}}</td>
        <td nz-td>{{data.serial_no}}</td>
      </tr>
      </tbody>
    </nz-table>
  </nz-tab>
</nz-tabset>
