<!--<div class="page-title">{{title}}</div>-->
<nz-tabset>
  <nz-tab >
    <ng-template #nzTabHeading>
      {{title}}
    </ng-template>
<form nz-form style="margin-bottom: 20px;" [nzLayout]="'inline'" [formGroup]="validateForm">
  <div nz-form-item>
    <div nz-form-control style="min-width: 300px;">
      <nz-input formControlName="textInput" [nzPlaceHolder]="'输入姓名/手机号码'" [nzSize]="'large'"></nz-input>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control>
      <nz-datepicker (ngModelChange)="_startDate=$event" [ngModel]="_startDate"  [nzShowTime]="true" [nzFormat]="'YYYY-MM-DD HH:mm:ss'" [nzSize]="'large'" [nzPlaceHolder]="'开始时间'" [ngModelOptions]="{standalone: true}"></nz-datepicker>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control>
      <nz-datepicker (ngModelChange)="_endDate=$event" [ngModel]="_endDate"  [nzShowTime]="true" [nzFormat]="'YYYY-MM-DD HH:mm:ss'" [nzSize]="'large'" [nzPlaceHolder]="'结束时间'" [ngModelOptions]="{standalone: true}"></nz-datepicker>
    </div>
  </div>
  <button nz-button [nzType]="'primary'" [nzSize]="'large'">搜索</button>
</form>
<nz-table #nzTable [nzDataSource]="data" [nzPageSize]="10">
  <thead nz-thead>
  <tr>
    <th nz-th><span>序号</span></th>
    <th nz-th><span>类型</span></th>
    <th nz-th><span>商铺名</span></th>
    <th nz-th><span>商品名称</span></th>
    <th nz-th><span>试用数量</span></th>
    <th nz-th><span>商品价格</span></th>
    <th nz-th><span>奖励金币</span></th>
    <th nz-th><span>消费金币</span></th>
    <th nz-th><span>余额</span></th>
    <th nz-th><span>操作时间</span></th>
    <th nz-th><span>流水号</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr *ngFor="let data of nzTable.data">
    <td nz-td>{{data.userId}}</td>
    <td nz-td>{{data.type}}</td>
    <td nz-td>{{data.shopName}}</td>
    <td nz-td>{{data.goodsName}}</td>
    <td nz-td>{{data.number}}</td>
    <td nz-td>{{data.price}}</td>
    <td nz-td>{{data.reward}}</td>
    <td nz-td>{{data.total}}</td>
    <td nz-td>{{data.balance}}</td>
    <td nz-td>{{data.operationTime}}</td>
    <td nz-td>{{data.serialNum}}</td>
  </tr>
  </tbody>
</nz-table>
  </nz-tab>
</nz-tabset>

