.activity-image {
  float: left;
  width: 90px;
  height: 60px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #dddddd;
  &.addbtn {
    background-image: url("../../../../assets/img/add-image-btn.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px 50px;
    cursor: pointer;
  }
  img {
    width: 80px;
    height: 50px;
  }
}
