
<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo">
      <span style="color: #fff;text-align: center;    padding: 0 22px;">金美相官网管理</span>
    </div>

    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'" >
      <li nz-menu-item  routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/auth-guard" ><span><i class="anticon anticon-home"></i><span class="nav-text">首页</span></span></a></li>
      <!--<li nz-menu-item routerLinkActive="ant-menu-item-selected"><a routerLink="/auth-guard/users/list" ><span title><i class="anticon anticon-user"></i><span class="nav-text">主管管理</span></span></a></li>-->
      <!--<li nz-submenu routerLinkActive="ant-menu-submenu-selected">-->
        <!--<span title><i class="anticon anticon-copy"></i><span class="nav-text">文章管理</span></span>-->
        <!--<ul>-->
          <!--<li nz-menu-item routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/auth-guard/article/article-type" ><span title><span class="nav-text">主题管理</span></span></a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li nz-menu-item routerLinkActive="ant-menu-item-selected"><a routerLink="/auth-guard/help/list" ><span title><i class="anticon anticon-question-circle-o"></i><span class="nav-text">帮助中心</span></span></a></li>-->
      <li nz-menu-item routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/auth-guard/users/user-info" ><span title><i class="anticon anticon-setting"></i><span class="nav-text">个人设置</span></span></a></li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;position: sticky;top: 0;z-index: 999">
      <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsedRight" [class.anticon-menu-unfold]="isCollapsedRight" (click)="isCollapsedRight=!isCollapsedRight"></i>
      <ul class="anticon trigger" style="position: absolute;right: 50px;" nz-menu [nzMode]="'horizontal'">
        <li nz-submenu>
          <span title>{{currUser.nickName}}</span>
          <ul>
            <li nz-menu-item routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/auth-guard/users/user-info" ><span title><i class="anticon anticon-info-circle"></i><span class="nav-text">个人设置</span></span></a></li>
            <li nz-menu-item routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/login" ><span title><i class="anticon anticon-logout"></i><span class="nav-text">退出</span></span></a></li>
          </ul>
        </li>
      </ul>
    </nz-header>
    <nz-content style="margin:0 16px;">
      <nz-breadcrumb style="margin:12px 0;">
        <!--<nz-breadcrumb-item>User</nz-breadcrumb-item>-->
        <!--<nz-breadcrumb-item>Bill</nz-breadcrumb-item>-->
      </nz-breadcrumb>
      <div style="padding:24px; background: #fff; min-height: 360px;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">云迁信息科技有限公司 ©2017</nz-footer>
  </nz-layout>
</nz-layout>
