<nz-layout class="layout" style="min-height: 100%;">
  <nz-header>
    <div class="logo">爱米瀑商户平台</div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" nzClickActive="false" style="line-height: 64px; float: right;">
      <li nz-menu-item>
        <nz-badge nzCount="">
          <ng-template #content><i class="anticon anticon-notification" style="margin-right: 0px;"></i></ng-template>
        </nz-badge>
      </li>
      <li nz-menu-item>
        <nz-badge nzCount="5">
          <ng-template #content><i class="anticon anticon-mail" style="margin-right: 0px;"></i></ng-template>
        </nz-badge>
      </li>
      <li nz-submenu>
        <span title>
          <nz-badge nzCount="0">
            <ng-template #content><nz-avatar nzText="{{nickName}}" nzSrc="{{userHeadImg}}"></nz-avatar></ng-template>
          </nz-badge>
        </span>
        <ul>
          <li nz-menu-group>
            <span title>个人中心</span>
            <ul>
              <li nz-menu-item><a routerLink="/auth-guard/users/user-info">个人设置</a></li>
              <li nz-menu-item>修改密码</li>
            </ul>
          </li>
          <li nz-menu-group>
            <span title>系统</span>
            <ul>
              <li nz-menu-item>系统设置</li>
              <li nz-menu-item><a routerLink="/login">退出登录</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nz-header>
  <nz-layout style="background: white;">
    <nz-sider nzWidth="200" style="background:#fff">
      <ul nz-menu nzMode="inline" style="height:100%">
        <li nz-menu-item>
          <a title routerLink="/auth-guard">
            <i class="anticon anticon-home"></i>首页
          </a>
        </li>
        <li nz-submenu nzOpen="true">
          <span title><i class="anticon anticon-flag"></i>试用活动管理</span>
          <ul>
            <li nz-menu-item>
              <a routerLink="/auth-guard/activity/activity-detail/0">发布试用</a>
            </li>
            <li nz-menu-item>
              <a routerLink="/auth-guard/activity/activity-published">已发布</a>
            </li>
            <li nz-menu-item>
              <a routerLink="/auth-guard/activity/activity-pending">待审核</a>
            </li>
            <li nz-menu-item>
              <a routerLink="/auth-guard/activity/activity-over">已完成</a>
            </li>
          </ul>
        </li>
        <li nz-menu-item>
          <a title routerLink="/auth-guard/activity/application-list">
            <i class="anticon anticon-exception"></i>试用申请管理
          </a>
        </li>
        <li nz-menu-item>
          <a title routerLink="/auth-guard/activity/report-list">
            <i class="anticon anticon-file-text"></i>试用报告管理
          </a>
        </li>
        <li nz-submenu nzOpen="false">
          <span title><i class="anticon anticon-solution"></i>账户管理</span>
          <ul>
            <li nz-menu-item><a routerLink="/auth-guard/users/shop-ma">店铺管理</a></li>
            <li nz-menu-item><a routerLink="/auth-guard/users/account-security">账户安全</a></li>
            <li nz-menu-item><a routerLink="/auth-guard/users/user-info">个人资料</a></li>
          </ul>
        </li>
        <li nz-submenu nzOpen="false">
          <span title><i class="anticon anticon-pay-circle-o"></i>财务管理</span>
          <ul>
            <li nz-menu-item><a routerLink="/auth-guard/finance/consumption-record">商家消费记录</a></li>
            <li nz-menu-item><a routerLink="/auth-guard/finance/account-recharge">商家充值记录</a></li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <div style="width: 100%; padding: 20px 24px 24px; box-sizing: border-box;"><router-outlet></router-outlet></div>
  </nz-layout>
</nz-layout>
