<nz-tabset>
  <nz-tab >
    <ng-template #nzTabHeading>
      {{title}}
    </ng-template>
    <!--<div style="margin-bottom: 20px;">
      <nz-input  [nzPlaceHolder]="'姓名、邮箱'"  [(ngModel)]="keyword" [nzSize]="'large'" style = "width: 20%;"></nz-input>
      <button nz-button [nzType]="'primary'" nzGhost [nzSize]="'large'" (click)="search()">
        <i class="anticon anticon-search"></i><span>搜索</span>
      </button>
    </div>-->
    <nz-table #nzTable   [nzAjaxData]="page.data"
              [nzPageSize]="page.per_page"
              [nzTotal]="page.total"
              [nzPageIndex]="page.current_page"
              (nzPageIndexChangeClick)="changePageNo($event)"
              [nzLoading]="isLoading"
              [nzShowTotal]="true">
      <thead nz-thead>
      <tr>
        <th nz-th><span>序号</span></th>
        <th nz-th><span>充值金额</span></th>
        <th nz-th><span>类型</span></th>
        <th nz-th><span>充值时间</span></th>
        <th nz-th><span>操作时间</span></th>
        <th nz-th><span>操作人员</span></th>
      </tr>
      </thead>
      <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data;let i = index;">
        <td nz-td>{{i+1}}</td>
        <td nz-td>{{data.golds}}</td>
        <td nz-td>{{data.type|dicsNamePipe:goldType:"key":"value"}}</td>
        <td nz-td>{{data.recharge_at}}</td>
        <td nz-td>{{data.created_at}}</td>
        <td nz-td>{{data.operate_user_name}}</td>
      </tr>
      </tbody>
    </nz-table>
  </nz-tab>
</nz-tabset>


<!--

<nz-tabset>
  <nz-tab >
    <ng-template #nzTabHeading>
      {{title}}
    </ng-template>
<form nz-form style="margin-bottom: 20px;" [nzLayout]="'inline'" [formGroup]="validateForm">
  <div nz-form-item>
    <div nz-form-control style="min-width: 300px;">
      <nz-input formControlName="textInput" [nzPlaceHolder]="'关键字'" [nzSize]="'large'"></nz-input>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control>
      <nz-datepicker (ngModelChange)="_startDate=$event" [ngModel]="_startDate"  [nzShowTime]="true" [nzFormat]="'YYYY-MM-DD HH:mm:ss'" [nzSize]="'large'" [nzPlaceHolder]="'开始时间'" [ngModelOptions]="{standalone: true}"></nz-datepicker>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control>
      <nz-datepicker (ngModelChange)="_endDate=$event" [ngModel]="_endDate"  [nzShowTime]="true" [nzFormat]="'YYYY-MM-DD HH:mm:ss'" [nzSize]="'large'" [nzPlaceHolder]="'结束时间'" [ngModelOptions]="{standalone: true}"></nz-datepicker>
    </div>
  </div>
  <button nz-button [nzType]="'primary'" [nzSize]="'large'">搜索</button>
</form>
<nz-table #nzTable [nzDataSource]="data" [nzPageSize]="10">
  <thead nz-thead>
  <tr>
    <th nz-th><span>序号</span></th>
    <th nz-th><span>充值金额</span></th>
    <th nz-th><span>类型</span></th>
    <th nz-th><span>充值时间</span></th>
    <th nz-th><span>操作时间</span></th>
    <th nz-th><span>操作人员</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr *ngFor="let data of nzTable.data">
    <td nz-td>{{data.userId}}</td>
    <td nz-td>{{data.amount}}</td>
    <td nz-td>{{data.type}}</td>
    <td nz-td>{{data.rechargeTime}}</td>
    <td nz-td>{{data.operationTime}}</td>
    <td nz-td>{{data.operator}}</td>
  </tr>
  </tbody>
</nz-table>
  </nz-tab>
</nz-tabset>
-->
