<div class="page-title">{{title}}</div>
<div nz-content>
  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="8" [nzXs]="24">
      <div nz-row class="detail-info-side">
        <div nz-col [nzXs]="24">
          <h2>活动信息</h2>
          <ul>
            <li><span class="title">商品来源：</span><span class="content">淘宝</span></li>
            <li><span class="title">店铺名称：</span><span class="content">淘宝XX店</span></li>
            <li><span class="title">试用邮费：</span><span class="content">包邮 | 15元邮费</span></li>
            <li><span class="title">试用数量：</span><span class="content">60</span></li>
            <li><span class="title">奖励金币：</span><span class="content">1</span></li>
            <li><span class="title">结束时间：</span><span class="content">2018-04-02</span></li>
          </ul>
        </div>
        <div nz-col [nzXs]="24">
          <h2>商品信息</h2>
          <ul>
            <li><span class="title">标题：</span><span class="content">祛痘前五强精华去痘印痘疤凹洞</span></li>
            <li><span class="title">图片：</span><span class="content"></span></li>
            <li><span class="title">类型：</span><span class="content">XX类</span></li>
            <li><span class="title">淘宝id：</span><span class="content">559999455666</span></li>
            <li><span class="title">价格：</span><span class="content">50元</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div nz-col [nzMd]="16" [nzXs]="24">
      <nz-tabset [nzType]="'card'">
        <nz-tab>
          <ng-template #nzTabHeading>全部（60）</ng-template>
          <form nz-form style="margin-bottom: 20px; text-align: right;" [nzLayout]="'inline'" [formGroup]="validateForm">
            <div nz-form-item>
              <div nz-form-control>
                <nz-input formControlName="userName" [nzSize]="'large'"></nz-input>
              </div>
            </div>
            <button nz-button [nzType]="'primary'" [nzSize]="'large'">搜索</button>
          </form>
          <nz-table #nzTable [nzDataSource]="data" [nzPageSize]="10">
            <thead nz-thead>
            <tr>
              <th nz-th><span>用户</span></th>
              <th nz-th><span>手机号码</span></th>
              <th nz-th><span>申请时间</span></th>
              <th nz-th><span>审核时间</span></th>
              <th nz-th><span>提交时间</span></th>
              <th nz-th><span>操作</span></th>
            </tr>
            </thead>
            <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
              <td nz-td><a (click)="open($event)">{{data.user}} <i class="anticon anticon-picture"></i></a></td>
              <td nz-td>{{data.phone}}</td>
              <td nz-td>{{data.appTime}}</td>
              <td nz-td>{{data.auditTime}}</td>
              <td nz-td>{{data.submitTime}}</td>
              <td nz-td><button nz-button [nzType]="'primary'" [nzSize]="'small'">查看详情</button></td>
            </tr>
            </tbody>
          </nz-table>
        </nz-tab>
        <nz-tab>
          <ng-template #nzTabHeading>待提交（18）</ng-template>
          <form nz-form style="margin-bottom: 20px; text-align: right;" [nzLayout]="'inline'" [formGroup]="validateForm">
            <div nz-form-item>
              <div nz-form-control>
                <nz-input formControlName="userName" [nzSize]="'large'"></nz-input>
              </div>
            </div>
            <button nz-button [nzType]="'primary'" [nzSize]="'large'">搜索</button>
          </form>
          <nz-table #nzTable1 [nzDataSource]="data" [nzPageSize]="10">
            <thead nz-thead>
            <tr>
              <th nz-th><span>用户</span></th>
              <th nz-th><span>手机号码</span></th>
              <th nz-th><span>申请时间</span></th>
              <th nz-th><span>审核时间</span></th>
            </tr>
            </thead>
            <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
              <td nz-td><a (click)="open($event)">{{data.user}} <i class="anticon anticon-picture"></i></a></td>
              <td nz-td>{{data.phone}}</td>
              <td nz-td>{{data.appTime}}</td>
              <td nz-td>{{data.auditTime}}</td>
            </tr>
            </tbody>
          </nz-table>
        </nz-tab>
        <nz-tab>
          <ng-template #nzTabHeading>待确认（20）</ng-template>
          <form nz-form style="margin-bottom: 20px; text-align: right;" [nzLayout]="'inline'" [formGroup]="validateForm">
            <div nz-form-item>
              <div nz-form-control>
                <nz-input formControlName="userName" [nzSize]="'large'"></nz-input>
              </div>
            </div>
            <button nz-button [nzType]="'primary'" [nzSize]="'large'">搜索</button>
          </form>
          <nz-table #nzTable2 [nzDataSource]="data" [nzPageSize]="10">
            <thead nz-thead>
            <tr>
              <th nz-th><span>用户</span></th>
              <th nz-th><span>手机号码</span></th>
              <th nz-th><span>申请时间</span></th>
              <th nz-th><span>审核时间</span></th>
              <th nz-th><span>提交时间</span></th>
              <th nz-th><span>淘宝id</span></th>
              <th nz-th><span>订单号</span></th>
              <th nz-th><span>操作</span></th>
            </tr>
            </thead>
            <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
              <td nz-td><a (click)="open($event)">{{data.user}} <i class="anticon anticon-picture"></i></a></td>
              <td nz-td>{{data.phone}}</td>
              <td nz-td>{{data.appTime}}</td>
              <td nz-td>{{data.auditTime}}</td>
              <td nz-td>{{data.submitTime}}</td>
              <td nz-td>{{data.id}}</td>
              <td nz-td>{{data.orderNum}}</td>
              <td nz-td><button nz-button [nzType]="'primary'" [nzSize]="'small'" (click)="openReportDetail($event)">查看报告</button></td>
            </tr>
            </tbody>
          </nz-table>
        </nz-tab>
        <nz-tab>
          <ng-template #nzTabHeading>待修改（10）</ng-template>
          <form nz-form style="margin-bottom: 20px; text-align: right;" [nzLayout]="'inline'" [formGroup]="validateForm">
            <div nz-form-item>
              <div nz-form-control>
                <nz-input formControlName="userName" [nzSize]="'large'"></nz-input>
              </div>
            </div>
            <button nz-button [nzType]="'primary'" [nzSize]="'large'">搜索</button>
          </form>
          <nz-table #nzTable3 [nzDataSource]="data" [nzPageSize]="10">
            <thead nz-thead>
            <tr>
              <th nz-th><span>用户</span></th>
              <th nz-th><span>手机号码</span></th>
              <th nz-th><span>申请时间</span></th>
              <th nz-th><span>审核时间</span></th>
              <th nz-th><span>提交时间</span></th>
              <th nz-th><span>修改时间</span></th>
            </tr>
            </thead>
            <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
              <td nz-td><a (click)="open($event)">{{data.user}} <i class="anticon anticon-picture"></i></a></td>
              <td nz-td>{{data.phone}}</td>
              <td nz-td>{{data.appTime}}</td>
              <td nz-td>{{data.auditTime}}</td>
              <td nz-td>{{data.submitTime}}</td>
              <td nz-td>{{data.modifyTime}}</td>
            </tr>
            </tbody>
          </nz-table>
        </nz-tab>
        <nz-tab>
          <ng-template #nzTabHeading>已完成（10）</ng-template>
          <form nz-form style="margin-bottom: 20px; text-align: right;" [nzLayout]="'inline'" [formGroup]="validateForm">
            <div nz-form-item>
              <div nz-form-control>
                <nz-input formControlName="userName" [nzSize]="'large'"></nz-input>
              </div>
            </div>
            <button nz-button [nzType]="'primary'" [nzSize]="'large'">搜索</button>
          </form>
          <nz-table #nzTable3 [nzDataSource]="data" [nzPageSize]="10">
            <thead nz-thead>
            <tr>
              <th nz-th><span>用户</span></th>
              <th nz-th><span>手机号码</span></th>
              <th nz-th><span>申请时间</span></th>
              <th nz-th><span>审核时间</span></th>
              <th nz-th><span>提交时间</span></th>
              <th nz-th><span>完成时间</span></th>
              <th nz-th><span>淘宝id</span></th>
              <th nz-th><span>订单号</span></th>
            </tr>
            </thead>
            <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
              <td nz-td><a (click)="open($event)">{{data.user}} <i class="anticon anticon-picture"></i></a></td>
              <td nz-td>{{data.phone}}</td>
              <td nz-td>{{data.appTime}}</td>
              <td nz-td>{{data.auditTime}}</td>
              <td nz-td>{{data.submitTime}}</td>
              <td nz-td>{{data.completeTime}}</td>
              <td nz-td>{{data.id}}</td>
              <td nz-td>{{data.orderNum}}</td>
            </tr>
            </tbody>
          </nz-table>
        </nz-tab>
        <nz-tab>
          <ng-template #nzTabHeading>试用终止（2）</ng-template>
          <form nz-form style="margin-bottom: 20px; text-align: right;" [nzLayout]="'inline'" [formGroup]="validateForm">
            <div nz-form-item>
              <div nz-form-control>
                <nz-input formControlName="userName" [nzSize]="'large'"></nz-input>
              </div>
            </div>
            <button nz-button [nzType]="'primary'" [nzSize]="'large'">搜索</button>
          </form>
          <nz-table #nzTable3 [nzDataSource]="data" [nzPageSize]="10">
            <thead nz-thead>
            <tr>
              <th nz-th><span>用户</span></th>
              <th nz-th><span>手机号码</span></th>
              <th nz-th><span>申请时间</span></th>
              <th nz-th><span>审核时间</span></th>
              <th nz-th><span>提交时间</span></th>
              <th nz-th><span>终止时间</span></th>
              <th nz-th><span>淘宝id</span></th>
              <th nz-th><span>订单号</span></th>
            </tr>
            </thead>
            <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
              <td nz-td><a (click)="open($event)">{{data.user}} <i class="anticon anticon-picture"></i></a></td>
              <td nz-td>{{data.phone}}</td>
              <td nz-td>{{data.appTime}}</td>
              <td nz-td>{{data.auditTime}}</td>
              <td nz-td>{{data.submitTime}}</td>
              <td nz-td>{{data.terminateTime}}</td>
              <td nz-td>{{data.id}}</td>
              <td nz-td>{{data.orderNum}}</td>
            </tr>
            </tbody>
          </nz-table>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>


  <div nz-row class="detail-info-side right-bar" id="detail_info_side">
    <button aria-label="Close" class="ant-modal-close ng-star-inserted">
      <span class="ant-modal-close-x" (click)="handleCancel($event)"></span>
    </button>
    <div nz-col [nzXs]="24">
      <h2>用户详细信息</h2>
      <ul>
        <li><span class="title">姓名：</span><span class="content">张三</span></li>
        <li><span class="title">手机号：</span><span class="content">15985851111</span></li>
        <li><span class="title">淘宝id：</span><span class="content">嘻嘻嘻</span></li>
        <li><span class="title">性别：</span><span class="content">女</span></li>
        <li><span class="title">年龄：</span><span class="content">60</span></li>
        <li><span class="title">所属区域：</span><span class="content">福建省厦门市</span></li>
        <li><span class="title">个性签名：</span><span class="content">点点滴滴</span></li>
        <li><span class="title">加入平台时间：</span><span class="content">2018-01-02</span></li>
        <li><span class="title">平台标签：</span><span class="content">少妇 有孩子 年轻 90后 化妆品 爱上淘宝 童装</span></li>
      </ul>
    </div>
    <div nz-col [nzXs]="24">
      <h2>
        <span style="float: left;">本店试用情况</span>
        <nz-radio-group [nzSize]="'small'" style="float: right;">
          <label nz-radio-button [nzValue]="'oneMonth'"><span>一个月</span></label>
          <label nz-radio-button [nzValue]="'halfYear'"><span>半年</span></label>
        </nz-radio-group>
      </h2>
      <ul>
        <li><span class="title">申请试用次数：</span><span class="content">100次</span></li>
        <li><span class="title">申请通过次数：</span><span class="content">50次</span></li>
        <li><span class="title">报告交次数：</span><span class="content">50次</span></li>
        <li><span class="title">报告通过次数：</span><span class="content">50次</span></li>
        <li><span class="title">平均提交报告时长：</span><span class="content">2天10分钟</span></li>
      </ul>
    </div>
    <div nz-col [nzXs]="24">
      <h2>
        <span style="float: left;">平台试用情况</span>
        <nz-radio-group [nzSize]="'small'" style="float: right;">
          <label nz-radio-button [nzValue]="'oneMonth'"><span>一个月</span></label>
          <label nz-radio-button [nzValue]="'halfYear'"><span>半年</span></label>
        </nz-radio-group>
      </h2>
      <ul>
        <li><span class="title">申请试用次数：</span><span class="content">100次</span></li>
        <li><span class="title">申请通过次数：</span><span class="content">50次</span></li>
        <li><span class="title">报告交次数：</span><span class="content">50次</span></li>
        <li><span class="title">报告通过次数：</span><span class="content">50次</span></li>
        <li><span class="title">平均提交报告时长：</span><span class="content">2天10分钟</span></li>
      </ul>
    </div>
  </div>

  <nz-modal [nzStyle]="style" [nzVisible]="isVisibleDetail" [nzContent]="modalContent2"
            (nzOnCancel)="handleCancelDetail($event)" (nzOnOk)="handleOkDetail($event)">
    <ng-template #modalContent2>
      <div nz-row>
        <div nz-col [nzXs]="18">
          <h2>报告截图</h2>
          <div>
            <p>用户淘宝号：<span>休息休息</span></p>
            <p>订单号：<span>1234566699</span></p>
          </div>
        </div>
        <div nz-col [nzXs]="6">
          <div style="text-align: right; padding-right: 20px;padding-bottom: 10px;">
            <button nz-button [nzType]="'primary'">
              <span>通过</span>
            </button>
          </div>
          <div style="text-align: right; padding-right: 20px;padding-bottom: 10px;">
            <button nz-button [nzType]="'default'">
              <span>提交修改</span>
            </button>
          </div>
          <div style="text-align: right; padding-right: 20px;padding-bottom: 10px;">
            <button nz-button [nzType]="'danger'">
              <span>试用终止</span>
            </button>
          </div>
        </div>
        <div class="imgList" nz-col [nzXs]="24">
          <a href="javascript:;"><img src="../../../../assets/img/default-image.jpg"></a>
          <a href="javascript:;"><img src="../../../../assets/img/default-image.jpg"></a>
          <a href="javascript:;"><img src="../../../../assets/img/default-image.jpg"></a>
          <a href="javascript:;"><img src="../../../../assets/img/default-image.jpg"></a>
          <a href="javascript:;"><img src="../../../../assets/img/default-image.jpg"></a>
          <a href="javascript:;"><img src="../../../../assets/img/default-image.jpg"></a>
          <a href="javascript:;"><img src="../../../../assets/img/default-image.jpg"></a>
          <a href="javascript:;"><img src="../../../../assets/img/default-image.jpg"></a>
        </div>
      </div>
    </ng-template>
  </nz-modal>

</div>
