<!--<div class="page-title">{{title}}</div>-->
<nz-tabset>
  <nz-tab >
    <ng-template #nzTabHeading>
      {{title}}
    </ng-template>
    <div nz-content>
      <div nz-row [nzGutter]="16">
        <div nz-col [nzMd]="8" [nzXs]="24">
          <div nz-row class="detail-info-side">
            <div nz-col [nzXs]="24">
              <h2>活动信息</h2>
              <ul>
                <li><span class="title">商品来源：</span><span class="content">{{shop.origin|dicsNamePipe:shopOrigin:"key":"value"}}</span></li>
                <li><span class="title">店铺名称：</span><span class="content">{{shop.name}}</span></li>
                <li><span class="title">试用邮费：</span><span class="content">{{activityInfo.postage_type==2?"自费":"包邮"}}</span></li>
                <li><span class="title">试用数量：</span><span class="content">{{activityInfo.number_of}}</span></li>
                <li><span class="title">奖励金币：</span><span class="content">{{activityInfo.golds}}</span></li>
                <li><span class="title">结束时间：</span><span class="content">{{activityInfo.end_at}}</span></li>
              </ul>
            </div>
            <div nz-col [nzXs]="24">
              <h2>商品信息</h2>
              <ul>
                <!--https://item.taobao.com/item.htm?id=564077535055-->
                <!--https://detail.tmall.com/item.htm?id=555960426110-->
                <!--https://item.jd.com/10705779133.html-->
                <li><span class="title">标题：</span><span class="content">
                  <a href="https://item.taobao.com/item.htm?id={{activityInfo.taobao_id}}" *ngIf="shop.origin ==1" target="_blank">{{activityInfo.title}}</a>
                  <a href="https://item.jd.com/{{activityInfo.taobao_id}}.html" *ngIf="shop.origin ==2" target="_blank">{{activityInfo.title}}</a>
                  <a href="https://detail.tmall.com/item.htm?id={{activityInfo.taobao_id}}" *ngIf="shop.origin ==3" target="_blank">{{activityInfo.title}}</a>
                </span></li>
                <li>
                  <span class="title">图片：</span>
                  <span class="content">
                    <ul class="picList">
                      <li *ngFor="let pic of activityInfo.thumb; let i = index;">
                        <a class="picItem" href="javascript:;" (click)="showPic(i)"><img src="{{pic}}"></a>
                      </li>
                    </ul>
                  </span>
                </li>
                <!--<li><span class="title">类型：</span><span class="content">XX类</span></li>-->
                <!--<li><span class="title">淘宝id：</span><span class="content">{{activityInfo.taobao_id}}</span></li>-->
                <li><span class="title">价格：</span><span class="content">{{activityInfo.price}}元</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div nz-col [nzMd]="16" [nzXs]="24">
          <nz-tabset [nzType]="'card'" >
            <nz-tab (nzClick)="selectTab('all')">
              <ng-template #nzTabHeading>全部（{{num_all}}）</ng-template>
            </nz-tab>
            <nz-tab (nzClick)="selectTab('1')">
              <ng-template #nzTabHeading>待审核（{{num_1}}）</ng-template>
            </nz-tab>
            <nz-tab (nzClick)="selectTab('2')">
              <ng-template #nzTabHeading>通过（{{num_2}}）</ng-template>
            </nz-tab>
            <nz-tab (nzClick)="selectTab('6')">
              <ng-template #nzTabHeading>不通过（{{num_6}}）</ng-template>
            </nz-tab>
          </nz-tabset>

          <form nz-form style="margin-bottom: 20px; text-align: right;" [nzLayout]="'inline'" [formGroup]="validateForm" (submit)="doLocalSearch()">
            <div nz-form-item>
              <div nz-form-control>
                <nz-input [(ngModel)]="keyword" formControlName="keyword" [nzSize]="'large'"></nz-input>
              </div>
            </div>
            <button nz-button [nzType]="'primary'" [nzSize]="'large'" type="submit">搜索</button>
          </form>
          <nz-table #nzTable [nzDataSource]="nowData" [nzPageSize]="10" [nzLoading]="isLoading">
            <thead nz-thead>
            <tr>
              <th nz-th><span>用户</span></th>
              <th nz-th><span>手机号码</span></th>
              <th nz-th><span>申请时间</span></th>
              <th nz-th *ngIf="index == 2"><span>当前状态</span></th>
              <th nz-th><span>审核时间</span></th>
              <th nz-th><span>提交时间</span></th>
              <th nz-th><span>操作</span></th>
            </tr>
            </thead>
            <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
              <td nz-td><a href="javascript:;" (click)="showCustomerInfo(data)">{{data.real_name}}</a></td>
              <td nz-td>{{data.phone}}</td>
              <td nz-td>{{data.applied_at}}</td>
              <td nz-td *ngIf="index == 2">{{data.status|dicsNamePipe:applyStatus:"key":"value"}}</td>
              <td nz-td>{{data.checked_at}}</td>
              <td nz-td>{{data.submitted_at}}</td>
              <td nz-td>
                <button *ngIf="data.status == 1" nz-button [nzType]="'primary'" [nzGhost]="true" [nzSize]="'small'" (click)="doPass(data.id)">通过</button>
                <button *ngIf="data.status == 1" nz-button [nzType]="'primary'" [nzGhost]="true" [nzSize]="'small'" (click)="doNoPass(data.id)">不通过</button>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </div>

    </div>
  </nz-tab>
</nz-tabset>


<customer-info [customer_id]="customerInfo.id" [shop_id]="customerInfo.shop_id" (close)="toClose($event)"></customer-info>


<nz-modal [nzVisible]="isVisible" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)" [nzConfirmLoading]="isConfirmLoading">
  <ng-template #modalContent>
    <h2 style="margin-bottom: 20px;">审核原因</h2>
    <nz-input [(ngModel)]="reason" [nzRows]="2" [nzType]="'textarea'" (ngModelChange)="onInput($event)"
              [nzPlaceHolder]="'请填写原因'" [nzSize]="'large'">
    </nz-input>
    <div *ngIf="isEmpty"><span style="color: red;">请填写审核原因</span></div>
  </ng-template>
</nz-modal>

<pic-viewer [picList]="activityInfo.thumb" [picIdx]="picIdx"
            [show]="isShowPic" (onClose)="onPicClose($event)"></pic-viewer>
